#resume-header {
	color: white; 
	font-weight: bold;
}

#resume-entry {
	margin: 20px 0px 20px 20px;
}

.custom-btn {
	width: 200px;
}

.row-centered {
	text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}